@model IEnumerable<prjEShopping.Models.ViewModels.UserAllStoreListVM>
@{
    ViewBag.Title = "ShowAllStore";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="bg-light">
    <div class="container mt-3 bg-success rounded pb-3">
        <h2 class="pt-3 ps-2 fw-bold fs-3 text">商家一覽</h2>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3">
            @{ 
                foreach(var item in Model)
                {
                    <input type="hidden" value="@item.SellerId" />
                      <div class="col">
                        <div class="card w-100">
                          <img src="~/img/@item.SellerImagePath" class="card-img-top px-4 pt-4" alt="...">
                          <div class="card-body">
                              <h5 class="card-title">@item.StoreName</h5>
                              <p class="card-text text-danger fw-bold">追蹤數:@item.TrackCount</p>
                              @Html.ActionLink("前往商家...", "StoreMain", "SellerStore", new { sellerid = item.SellerId }, new { Class = "btn btn-secondary " })
                              @*<a href="#" class="btn btn-secondary">前往商家...</a>*@
                          </div>
                       </div>
                      </div>
                }}
        </div>
    </div>
</div>
@section Scripts
    {
        <script>

        </script>
    }
