
@{
    ViewBag.Title = "Index";
}
<h2>線上客服</h2>

<div>
    <iframe src='https://webchat.botframework.com/embed/EShoppingtext-bot?s=6kBcKdRa1y0.2H-lzFMuf8cbMmScJPpH30O4uwyz0de-S9LnVzDo-sI'
            style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
</div>

