@model prjEShopping.Models.EFModels.Seller
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSellerMain.cshtml";
}
<div class="col-8 col-md-9 col-lg-9 col-xl-10 container bg-warning rounded-2 border border-info border-1 ">
    <p class="fs-4 mt-3 fw-bold">基本資料</p>
    <hr>
    <div class="row">
        <div class="col-sm-9">
            <div class="row mb-2">
                <div class="col-4 d-flex align-items-center">
                    <span>統編：</span>
                </div>
                <div class="col-4">
                    <input type="text">
                </div>
                <div class="col-4">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-flex align-items-center">
                    <span>負責人姓名：</span>
                </div>
                <div class="col-4">
                    <input type="text">
                </div>
                <div class="col-4">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-flex align-items-center">
                    <span>商家姓名：</span>
                </div>
                <div class="col-4">
                    <input type="text">
                </div>
                <div class="col-4">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-flex align-items-center">
                    <span>使用者帳號(電子郵件)：</span>
                </div>
                <div class="col-4">
                    <input type="text">
                </div>
                <div class="col-4">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-flex align-items-center">
                    <span>使用者密碼：</span>
                </div>
                <div class="col-4">
                    <input type="text">
                </div>
                <div class="col-4">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-flex align-items-center">
                    <span>住址：</span>
                </div>
                <div class="col-3">
                    <select>
                        <option value="option1">臺北市</option>
                        <option value="option3">新北市</option>
                        <option value="option2">桃園市</option>
                        <option value="option3">臺中市</option>
                        <option value="option3">臺南市</option>
                        <option value="option3">高雄市</option>
                        <option value="option3">基隆市</option>
                        <option value="option3">新竹縣</option>
                        <option value="option3">新竹市</option>
                        <option value="option3">彰化縣</option>
                        <option value="option3">南投縣</option>
                        <option value="option3">雲林縣</option>
                        <option value="option3">嘉義縣</option>
                        <option value="option3">嘉義市</option>
                        <option value="option3">屏東縣</option>
                        <option value="option3">宜蘭縣</option>
                        <option value="option3">花蓮縣</option>
                        <option value="option3">澎湖縣</option>
                        <option value="option3">金門縣</option>
                        <option value="option3">連江縣</option>
                    </select>
                    <div class="col-4">
                        <input type="text">
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-flex align-items-center">
                    <span>手機號碼：</span>
                </div>
                <div class="col-4">
                    <input type="text">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3 d-flex align-items-center">
                    <span>性別：</span>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label">
                            男生
                        </label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label">
                            女生
                        </label>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-3 d-flex align-items-center">
                    <span>支付方式：</span>
                </div>
                <div class="col-3">
                    <select>
                        <option value="option1">現金</option>
                        <option value="option2">信用卡</option>
                    </select>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3 d-flex align-items-center">
                    <span>取貨方式：</span>
                </div>
                <div class="col-3">
                    <select>
                        <option value="option1">超商取貨</option>
                        <option value="option2">宅配到府</option>
                        <option value="option3">黑貓宅急便</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    賣場照片:
                </div>
                <div class="col-6">
                    <form name="formUpload">
                        <div class="mb-3">
                            <label for="photo" class="form-label"></label>
                            <input class="form-control" type="file" id="photo" name="photo">
                            <div id="div-preivew">
                                <img src="#" id="preview" alt="預覽圖" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="btn btn-secondary mb-sm-3 mb-md-0">新增</div>

        </div>

    </div>



</div>
@*@section Styles{
    <style>
        #div-preivew {
            width: 300px;
            height: 200px;
            visibility: hidden;
            margin: 10px;
        }

        #preview {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    </style>
}
@section Scripts{
    <script>
    const xhr = new XMLHttpRequest();
    const input  = document.getElementById("photo")
        console.log(document.formUpload)
        input.addEventListener('change',()=>{ //有變動的狀況

            if(input.files.length ===0){
            //無上傳檔案，div不顯示
            $("#div-preivew").css("visibility","hidden")
            }else{
            //有上傳檔案，div顯示，圖片顯示

            var reader = new FileReader();
            reader.readAsDataURL(input.files[0])
            reader.addEventListener('load',(e)=>{
                $("#div-preivew").css("visibility", "visible")

                $("#preview").attr("src",e.target.result)
            })

            }
        })
        //表單點擊送出
        $("#submit").click(()=>{
            event.preventDefault()
            var xhr = new XMLHttpRequest();

            var formData = new FormData(document.formUpload);
            formData.append('file',input.files[0])

            xhr.open('POST', '/api/UploadProfilePhoto')
            xhr.send(formData)

            xhr.addEventListener('load',()=>{
               const result = xhr.responseText
               alert(result)
            })
        })
    </script>
}*@
