@model prjEShopping.Models.ViewModels.AdminLoginVM

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAdminLogin.cshtml";
}

<div class="col-6 bg-secondary overflow-auto">
    <h2>登入後台</h2>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <form method="post">
        <label>帳號</label>
        <input type="text" class="form-control" id="AdminAccount" name="AdminAccount" />
        <label>密碼</label>
        <input type="text" class="form-control" id="AdminPassword" name="AdminPassword" />
        <input type="submit" id="login" value="登入" class="btn btn-primary my-2" />
    </form>
</div>

