@model prjEShopping.Models.EFModels.Seller
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSellerMain.cshtml";
}
@if (TempData["Success"] != null)
{
    <script>alert("@TempData["Success"].ToString()")</script>
}
        <div class="col-8 col-md-9 col-lg-9 col-xl-10 ">
            <div class="accordion" id="accordionPanelsStayOpenExample2">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
                        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseSeven">
                            熱賣商品
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse show bg-info"
                         aria-labelledby="panelsStayOpen-headingSeven">
                        <div class="accordion-body">
                            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3">
                                <div class="col">
                                    <div class="card w-100">
                                        <a href="#">
                                            <img src="~/img/hot1.jpg" class="card-img-top px-4 pt-4" alt="...">
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title">PlayStation 5 主機</h5>
                                            <p class="card-text text-danger fw-bold">$17,880</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card w-100">
                                        <a href="#">
                                            <img src="~/img/hot1.jpg" class="card-img-top px-4 pt-4" alt="...">
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title">PlayStation 5 主機</h5>
                                            <p class="card-text text-danger fw-bold">$17,880</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card w-100">
                                        <a href="#">
                                            <img src="~/img/hot1.jpg" class="card-img-top px-4 pt-4" alt="...">
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title">PlayStation 5 主機</h5>
                                            <p class="card-text text-danger fw-bold">$17,880</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card w-100">
                                        <a href="#">
                                            <img src="~/img/hot1.jpg" class="card-img-top px-4 pt-4" alt="...">
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title">PlayStation 5 主機</h5>
                                            <p class="card-text text-danger fw-bold">$17,880</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card w-100">
                                        <a href="#">
                                            <img src="~/img/hot1.jpg" class="card-img-top px-4 pt-4" alt="...">
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title">PlayStation 5 主機</h5>
                                            <p class="card-text text-danger fw-bold">$17,880</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingEight">
                            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseEight">
                                最新訂單
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse show bg-info"
                             aria-labelledby="panelsStayOpen-headingEight">
                            <div class="accordion-body">
                                <table class="table table-striped fw-bold">
                                    <thead>
                                        <tr>
                                            <th scope="col">序號</th>
                                            <th scope="col">訂單日期</th>
                                            <th scope="col">出貨單號</th>
                                            <th scope="col">出貨狀態</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>2023/07/15</td>
                                            <td><a href="#" class="text-decoration-none">20230707S01007</a></td>
                                            <td>準備中</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>2023/07/10</td>
                                            <td><a href="#" class="text-decoration-none">20230707S01003</a></td>
                                            <td>準備中</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>2023/07/01</td>
                                            <td><a href="#" class="text-decoration-none">20230707S01001</a></td>
                                            <td>待收貨</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingNight">
                            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseNight" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseNight">
                                進行中的活動
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseNight" class="accordion-collapse collapse show bg-info"
                             aria-labelledby="panelsStayOpen-headingNight">
                            <div class="accordion-body">
                                <div class="d-flex p-2">
                                    <div class="card me-3" style="width: 18rem;">
                                        <a href="#">
                                            <img src="~/img/LG輪播圖.jpg" class="card-img-top" alt="...">
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title">活動1</h5>
                                            <P>
                                                <sapn>
                                                    剩餘:
                                                </sapn>
                                                <sapn class="text-danger fw-bold ">
                                                    3小時22分16秒
                                                </sapn>
                                            </P>
                                        </div>
                                    </div>
                                    <div class="card me-3" style="width: 18rem;">
                                        <a href="#">
                                            <img src="~/img/三星輪播圖.jpg" class="card-img-top" alt="...">
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title">活動2</h5>
                                            <P>
                                                <sapn>
                                                    剩餘:
                                                </sapn>
                                                <sapn class="text-danger fw-bold ">
                                                    3小時22分16秒
                                                </sapn>
                                            </P>
                                        </div>
                                    </div>
                                    <div class="card me-3" style="width: 18rem;">
                                        <a href="#">
                                            <img src="~/img/小米輪播圖.jpg" class="card-img-top" alt="...">
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title">活動3</h5>
                                            <P>
                                                <sapn>
                                                    剩餘:
                                                </sapn>
                                                <sapn class="text-danger fw-bold ">
                                                    3小時22分16秒
                                                </sapn>
                                            </P>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

