@model prjEShopping.Models.EFModels.Seller
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSellerMain.cshtml";
}

<div class="col-sm-auto mt-sm-3 col-md-9 bg-warning mt-lg-0 rounded">
    <p class="fs-4 mt-3 fw-bold">基本資料修改</p>
    <hr>
    <div class="row">
        <div class="col-sm-9">
            <div class="row mb-2">
                <div class="col-4 d-flex align-items-center">
                    <span>統編：</span>
                </div>
                <div class="col-4">
                    <input type="text">
                </div>
                <div class="col-4">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-flex align-items-center">
                    <span>負責人姓名：</span>
                </div>
                <div class="col-4">
                    <input type="text"  value="@Model.SellerName">
                </div>
                <div class="col-4">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-flex align-items-center">
                    <span>商家姓名：</span>
                </div>
                <div class="col-4">
                    <input type="text">
                </div>
                <div class="col-4">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-flex align-items-center">
                    <span>使用者帳號：</span>
                </div>
                <div class="col-4">
                    <span>John Doe</span>
                </div>
                <div class="col-4">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-flex align-items-center">
                    <span>使用者密碼：</span>
                </div>
                <div class="col-4">
                    <input type="text">
                </div>
                <div class="col-4">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-flex align-items-center">
                    <span>住址：</span>
                </div>
                <div class="col-3">
                    <select>
                        <option value="option1">臺北市</option>
                        <option value="option3">新北市</option>
                        <option value="option2">桃園市</option>
                        <option value="option3">臺中市</option>
                        <option value="option3">臺南市</option>
                        <option value="option3">高雄市</option>
                        <option value="option3">基隆市</option>
                        <option value="option3">新竹縣</option>
                        <option value="option3">新竹市</option>
                        <option value="option3">彰化縣</option>
                        <option value="option3">南投縣</option>
                        <option value="option3">雲林縣</option>
                        <option value="option3">嘉義縣</option>
                        <option value="option3">嘉義市</option>
                        <option value="option3">屏東縣</option>
                        <option value="option3">宜蘭縣</option>
                        <option value="option3">花蓮縣</option>
                        <option value="option3">澎湖縣</option>
                        <option value="option3">金門縣</option>
                        <option value="option3">連江縣</option>
                    </select>
                    <div class="col-4">
                        <input type="text">
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-flex align-items-center">
                    <span>Email：</span>
                </div>
                <div class="col-4">
                    <input type="text">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-flex align-items-center">
                    <span>手機號碼：</span>
                </div>
                <div class="col-4">
                    <input type="text">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3 d-flex align-items-center">
                    <span>性別：</span>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label">
                            男生
                        </label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label">
                            女生
                        </label>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-3 d-flex align-items-center">
                    <span>支付方式：</span>
                </div>
                <div class="col-3">
                    <select>
                        <option value="option1">現金</option>
                        <option value="option2">信用卡</option>
                    </select>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3 d-flex align-items-center">
                    <span>取貨方式：</span>
                </div>
                <div class="col-3">
                    <select>
                        <option value="option1">超商取貨</option>
                        <option value="option2">宅配到府</option>
                        <option value="option3">黑貓宅急便</option>
                    </select>
                </div>
            </div>

            <div class="btn btn-secondary mb-sm-3 mb-md-0">儲存</div>

        </div>
        <div class="col-sm-3 d-flex flex-column align-items-center">
            <img src="img/comment.jpeg" alt="" class="img-fluid">
            <div class="btn btn-secondary mt-2">選擇圖片</div>
        </div>


    </div>



</div>

