
@{
    ViewBag.Title = "易起購平台儀表板";
    Layout = "~/Views/Shared/_LayoutAdminelse.cshtml";
}

<h2>易起購平台儀表板</h2>


<div>
    <iframe title="Report Section" width="1200" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMTZkNWEyZjUtMGY2ZS00M2FhLWFmMjctYTFkMzM4OWViZDE5IiwidCI6ImE0M2Y2Y2QzLTU0MTItNGIxZi1hMTM0LTJjMjc3MzY0Y2FmNiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
</div>

<a href="https://app.powerbi.com/view?r=eyJrIjoiMTZkNWEyZjUtMGY2ZS00M2FhLWFmMjctYTFkMzM4OWViZDE5IiwidCI6ImE0M2Y2Y2QzLTU0MTItNGIxZi1hMTM0LTJjMjc3MzY0Y2FmNiIsImMiOjEwfQ%3D%3D">網頁版</a>