
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<iframe title="Report Section" width="1600" height="800"  src="https://app.powerbi.com/view?r=eyJrIjoiYThlODU3NWEtODMxMi00OWVlLTgzOGQtOTYyNDhkODBlMGMyIiwidCI6ImE0M2Y2Y2QzLTU0MTItNGIxZi1hMTM0LTJjMjc3MzY0Y2FmNiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
