
@{
    ViewBag.Title = "CSSIndex";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-9 bg-secondary ">
    <h2>客服系統</h2>
    <hr />
    @Html.ActionLink("新進信件", "CSSNewMailList", null, new { @class = "btn btn-primary" })
    <br />

    @Html.ActionLink("處理中", "Index", null, new { @class = "btn btn-info mt-2" })
    <br />

    @Html.ActionLink("已完成", "Index", null, new { @class = "btn btn-success my-2" })

</div>

