@model IEnumerable<prjEShopping.Models.ViewModels.UserChatVM>
@{
    ViewBag.Title = "UserChat";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="row">
                <table class="table table-striped fw-bold">
                    <thead>
                        <tr>
                            <th scope="col">聊天名單</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                <tr><td class="btn-secondary"><btn>@item.SellerName<input type="hidden" value="@item.ChatroomId" /></btn></td></tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div id="chatMessages" style="height:256px;width:stretch;overflow:auto">
                </div>
            </div>
            <div class="row">
                <input type="hidden" value="@User.Identity.Name" id="userName" placeholder="User Name" />
                <input type="text" id="message" placeholder="Message" />
                <button onclick="sendMessage()">傳送訊息</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="~/signalr/hubs"></script>

<script type="text/javascript">
    var chat = $.connection.myHub;

    chat.client.receiveMessage = function (name, message) {
        // 在畫面上顯示訊息
        var encodedMessage = $('<div />').text(message).html();
        $('#chatMessages').append('<p><strong>' + name + '</strong>: ' + encodedMessage + '</p>');
        $('#chatMessages').scrollTop($('#chatMessages')[0].scrollHeight);//卷軸放置最底部
    };

    $.connection.hub.start();

    let roomId = "";

    function joinRoom() {
        if (roomId) {
            chat.server.joinRoom(roomId);
        }
    }

    function leaveRoom() {
        if (roomId) {
            chat.server.leaveRoom(roomId);
        }
    }

    function sendMessage() {
        var userName = $('#userName').val();
        var message = $('#message').val();

        chat.server.sendMessageToRoom(roomId, userName, message);
        $('#message').val('');

    }

</script>
@section Scripts{
    <script>
        const selmessages = document.querySelector('#chatMessages');

        $(document).ready(function () {

            const selclicked = document.querySelectorAll('.btn-secondary');
            $(selclicked).click(function () {
                leaveRoom(roomId);
                $('#chatMessages').empty();
                setTimeout(() => {
                    roomId = $(this).find('input').val();
                    joinRoom(roomId);
                    LoadChatDetail();
                }, 100);

            });
        });

        function LoadChatDetail() {
            const xhr = new XMLHttpRequest();
            xhr.open('GET', '@Url.Content("~/SellerMain/getChatDetail?roomId=")' + roomId);
            xhr.send();

                xhr.addEventListener('load', () => {
                const datas = JSON.parse(xhr.responseText);
                    let chatdetails = datas.map(chatlist => {
                        return (`<p><strong>  ${chatlist.SenderName}  </strong>:   ${chatlist.Text}  </p>`)
                    })
                    selmessages.innerHTML = chatdetails.join("");
                    $('#chatMessages').scrollTop($('#chatMessages')[0].scrollHeight);
                })
        };
    </script>
}

