@model prjEShopping.Models.ViewModels.UserFeedbackVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@using (Html.BeginForm("SubmitComment", "Comment", FormMethod.Post))
{

    <div id="d-hw1">
        <div id="imgs">
            <img src="images/star1.png" />
            <img src="images/star1.png" />
            <img src="images/star1.png" />
            <img src="images/star1.png" />
            <img src="images/star1.png" />
        </div>
        <p style="text-align: center;">打分中...0</p>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label" })
        @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", rows = 4 })
    </div>

    <button type="submit" class="btn btn-primary">提交評分留言</button>
}
<body>
    <img id="img1" class="i" src="images/star.gif" />
    <img id="img2" class="i" src="images/star.gif" />
    <img id="img3" class="i" src="images/star.gif" />
    <img id="img4" class="i" src="images/star.gif" />
    <img id="img5" class="i" src="images/star.gif" />
    <p></p>
    <script src="../js/jquery-3.7.0.min.js"></script>
    <script>
        $(".i").mouseleave(function () {
            $(".i").prop("src", "images/star.gif");
            $("p").text("");
        });
        $(".i").mouseenter(function () {
            $(this).prop("src", "images/chngstar.gif").prevAll().prop("src", "images/chngstar.gif").end().nextAll().prop("src", "images/star.gif");
            var starCount = $(this).prevAll().length + 1;
            $("p").text("打分中......." + starCount + "顆星");
        });
        $(".i").click(function () {
            var starCount = $(this).prevAll().length + 1;
            $("p").text("你選擇了" + starCount + "顆星");
        });
    </script>
</body>