
@model prjEShopping.Models.ViewModels.UserProfileVM

@{
    ViewBag.Title = "UserRegister";
    Layout = "~/Views/Shared/_LayoutUserLogin.cshtml";
}

<form method="post" enctype="multipart/form-data" action="UserRegister">
    <div class="bg-light py-5">
        <div class="container pt-2">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 bg-success rounded ">
                    <p class="mt-3 fs-3 fw-bold text-center">買家註冊</p>
                    <div class="row mb-2">
                        <div class="col-3 d-flex align-items-center">
                            <span>使用者帳號：</span>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" value="" name="UserAccount" id="UserAccount">
                        </div>
                        <div class="col-4">
                            @*@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3 d-flex align-items-center">
                            <span>姓名：</span>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" value="" name="UserName" id="UserName">
                        </div>
                        <div class="col-4">
                            @*@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3 d-flex align-items-center">
                            <span>密碼：</span>
                        </div>
                        <div class="col-5">
                            <input type="password" class="form-control" value="" name="UserPassword" id="UserPassword">
                        </div>
                        <div class="col-4">
                            @*@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3 d-flex align-items-center">
                            <span>確認密碼：</span>
                        </div>
                        <div class="col-5">
                            <input type="password" class="form-control" value="" name="ConfirmUserPassword" id="ConfirmUserPassword">
                        </div>
                        <div class="col-4">
                            @*@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })*@
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-3 d-flex align-items-center">
                            <span>姓別：</span>
                        </div>
                        <div class="col-5">
                            <select class="form-select" name="Gender">
                                <option>男生</option>
                                <option>女生</option>
                                <option>其他/保密</option>
                            </select>
                        </div>
                        <div class="col-4">
                            @*@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3 d-flex align-items-center">
                            <span>手機號碼：</span>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" value="" name="CellPhone" id="CellPhone">
                        </div>
                        <div class="col-4">
                            @*@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3 d-flex align-items-center">
                            <span>電話號碼：</span>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" value="" name="Phone" id="Phone">
                        </div>
                        <div class="col-4">
                            @*@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3 d-flex align-items-center">
                            <span>地址：</span>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" value="" name="City" placeholder="請輸入區域" id="City">
                        </div>
                        <div class="col-4">
                            @*@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3 d-flex align-items-center">

                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" value="" name="Address" placeholder="請輸入街道" id="Address">
                        </div>
                        <div class="col-4">
                            @*@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3 d-flex align-items-center">
                            <span>生日：</span>
                        </div>
                        <div class="col-5">
                            <input class="form-control" type="date" name="Birthday" value="1984-07-22" />
                        </div>
                        <div class="col-4">
                            @*@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })*@
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-3 d-flex align-items-center">
                            <span>選擇相片：</span>
                        </div>
                        <div class="col-5">
                            <input class="form-control" type="file" name="UserImageFile" id="formFile">
                        </div>
                        <div class="col-4">
                            <img src="" class="img-fluid" id="userImagePaths" style="width:130px">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3 d-flex align-items-center">
                            <div class="btn btn-light border border-3" id="btnDemoRegister">Demo註冊</div>
                        </div>
                    </div>
                    <div class="d-grid gap-2 mb-3">
                        <input type="submit" value="註冊" class="btn btn-secondary mt-3" />
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
</form>





@section Scripts{
    <script>
        $(document).ready(async function () {
           
            const UserAccount = document.querySelector("#UserAccount")
            const UserName = document.querySelector("#UserName")
            const UserPassword = document.querySelector("#UserPassword")
            const ConfirmUserPassword = document.querySelector("#ConfirmUserPassword")
            const CellPhone = document.querySelector("#CellPhone")
            const Phone = document.querySelector("#Phone")
            const City = document.querySelector("#City")
            const Address = document.querySelector("#Address")


            $("#btnDemoRegister").on('click', function () {
                UserAccount.value = "aasharon1014@gmail.com"
                UserName.value = "Mark"
                UserPassword.value = "Aa12345$mark"
                ConfirmUserPassword.value = "Aa12345$mark"
                CellPhone.value = "0951234775"
                Phone.value = "0227531441"
                City.value = "新竹市東區"
                Address.value ="食品路"
            })

            
        })

    </script>

}

