<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/all.css" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", required: false)
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <!-- header -->
    <header class="bg-primary sticky-top">
        <div class="container">
            <div class="row g-2">
                <div class="col-5 col-md-4 col-lg-3 col-xl-2">
                    <a class="navbar-brand py-0 mb-4 mx-0" href="#">
                        <img src="~/img/logonew.png" alt="E起購 LOGO" class="d-inline-block" />
                        <p class="btn h3 text-secondary fs-1 fw-bolder ">後臺管理系統</p>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div>
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light bg-info">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">平台管理主頁面</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">員工公告</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">站內信件</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        連結
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">客服中心</a></li>
                                        <li><a class="dropdown-item" href="#">商城首頁</a></li>
                                        <li><a class="dropdown-item" href="#">活動首頁</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <span class="btn btn-primary">登入</span><span class="d-none" id="loginName">歡迎!</span>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="row vh-100 border border-primary">
                <div class="col-3 green bg-secondary  ">
                    <div class="dropdown ">
                        <a class="btn btn-primary dropdown-toggle d-block mt-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="d-none d-md-inline">管理權限設定</span><span class="d-sm-inline d-md-none ">管</span>
                        </a>
                        <ul class="dropdown-menu bg-info " aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item btn1" href="#tab101">管理員資料設定</a></li>
                            <li><a class="dropdown-item btn1" href="#tab102">員工一覽</a></li>
                            <li><a class="dropdown-item btn1" href="#tab103">員工權限設置</a></li>
                            <li><a class="dropdown-item btn1" href="#tab104">權限設置</a></li>
                        </ul>

                        <a class="btn btn-primary dropdown-toggle d-block mt-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="d-none d-md-inline">員工資料設定</span><span class="d-sm-inline d-md-none ">員</span>
                        </a>
                        <ul class="dropdown-menu bg-info" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="platform2.html">員工資料設定</a></li>
                        </ul>

                        <a class="btn btn-primary dropdown-toggle d-block mt-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="d-none d-md-inline">買家管理設定</span><span class="d-sm-inline d-md-none ">買</span>

                        </a>
                        <ul class="dropdown-menu bg-info" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">買家資料查詢</a></li>
                            <li><a class="dropdown-item" href="#">買家權限設置</a></li>
                            <li><a class="dropdown-item" href="#">購物車資料查詢</a></li>
                            <li><a class="dropdown-item" href="#">訂單資料查詢</a></li>
                        </ul>

                        <a class="btn btn-primary dropdown-toggle d-block mt-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="d-none d-md-inline">商家管理設定</span><span class="d-sm-inline d-md-none ">商</span>

                        </a>
                        <ul class="dropdown-menu bg-info" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">商家申請審核</a></li>
                            <li><a class="dropdown-item" href="#">商家查詢權限設置</a></li>
                            <li><a class="dropdown-item" href="#">廣告方案設置</a></li>
                            <li><a class="dropdown-item" href="#">商家優惠方案設置</a></li>
                            <li><a class="dropdown-item" href="#">商品分類設定</a></li>
                            <li><a class="dropdown-item" href="#">商品上架審核</a></li>
                            <li><a class="dropdown-item" href="#">商品資料查詢</a></li>
                            <li><a class="dropdown-item" href="#">出貨單資料查詢</a></li>
                        </ul>

                        <a class="btn btn-primary dropdown-toggle d-block mt-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="d-none d-md-inline">平台管理設定</span><span class="d-sm-inline d-md-none ">平</span>
                        </a>
                        <ul class="dropdown-menu bg-info" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">平台公告設置</a></li>
                            <li><a class="dropdown-item" href="#">輪播頁面設置</a></li>
                            <li><a class="dropdown-item" href="#">活動欄位設置</a></li>
                            <li><a class="dropdown-item" href="#">促銷欄位設置</a></li>
                            <li><a class="dropdown-item" href="#">限時欄位設置</a></li>
                        </ul>

                        <a class="btn btn-primary dropdown-toggle d-block mt-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="d-none d-md-inline">廣告優惠設定</span><span class="d-sm-inline d-md-none ">廣</span>
                        </a>
                        <ul class="dropdown-menu bg-info" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">商家廣告設置</a></li>
                            <li><a class="dropdown-item" href="#">站內折扣設置</a></li>
                            <li><a class="dropdown-item" href="#">優惠券設置</a></li>
                        </ul>

                        <a class="btn btn-primary dropdown-toggle d-block mt-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="d-none d-md-inline">數據中心</span><span class="d-sm-inline d-md-none ">數</span>

                        </a>
                        <ul class="dropdown-menu bg-info" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">數據中心首頁</a></li>
                            <li><a class="dropdown-item" href="#">會員數據統計</a></li>
                            <li><a class="dropdown-item" href="#">商家數據統計</a></li>
                            <li><a class="dropdown-item" href="#">商品數據統計</a></li>
                            <li><a class="dropdown-item" href="#">平台數據統計</a></li>
                        </ul>

                        <a class="btn btn-primary dropdown-toggle d-block mt-2 mb-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="d-none d-md-inline">客服中心</span><span class="d-sm-inline d-md-none ">客</span>
                        </a>
                        <ul class="dropdown-menu bg-info" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">客服管理區</a></li>
                            <li><a class="dropdown-item" href="#">站內檢舉</a></li>
                            <li><a class="dropdown-item" href="#">即時訊息</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-9 bg-secondary "> col-9 分頁必要! -->
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="bg-primary" style="height: 20px;"></div>
    <div class="bg-warning">
        <div class="container py-5">
            <div class="row row-cols-auto row-cols-md-auto row-cols-lg-auto">
                <div class="col d-flex flex-column">
                    <span>E起購有限公司台灣分公司</span>
                    <span>統一編號：12345678</span>
                    <span>&copy 2023 EEE 版權所有。</span>
                </div>
                <div class="col d-flex flex-column mb-2">
                    <span>付款</span>
                    <div class="col d-flex">
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center " style="height: 50px;">
                            <img src="~/img/bottompay1.png" alt="">
                        </div>
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center " style="height: 50px;">
                            <img src="~/img/bottompay2.png" alt="">
                        </div>
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center " style="height: 50px;">
                            <img src="~/img/bottompay3.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col d-flex flex-column mb-2">
                    <span>物流合作</span>
                    <div class="col d-flex">
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center " style="height: 50px;">
                            <img src="~/img/bottomship1.png" alt="">
                        </div>
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center " style="height: 50px;">
                            <img src="~/img/bottomship2.png" alt="">
                        </div>
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center" style="height: 50px;">
                            <img src="~/img/bottomship3.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col d-flex flex-column mb-2">
                    <span>關注我們</span>
                    <div class="col d-flex">
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center px-3" style="height: 50px;">
                            <img src="~/img/line32px.png" alt="">
                        </div>
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center px-3" style="height: 50px;">
                            <img src="~/img/facebook32px.png" alt="">
                        </div>
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center px-3 " style="height: 50px;">
                            <img src="~/img/instagram32px.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col mb-2">
                    <span>找到我們</span>
                    <div class="bg-success me-2 d-flex justify-content-center align-items-center">
                        <img src="~/img/QRCode.png" alt="" />
                    </div>
                </div>

                <div class="col mb-2">
                    <a class="navbar-brand py-0 mb-4 mx-0" href="#">
                        <img src="~/img/logonew.png" alt="E起購 LOGO" class="d-inline-block" />
                    </a>
                </div>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/df26c5ac19.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script>
        $(".btn1").click(function (event) {
            event.preventDefault(); // 防止預設的點擊行為
            var href = $(this).attr('href'); // 取得被點擊的連結的 href 屬性
            $(href).click(); // 觸發對應的按鈕點擊事件
        });

        $(document).ready(function () {
            var params = new URLSearchParams(window.location.search);
            var buttonId = params.get('clickButton');
            if (buttonId) {
                $('#' + buttonId).click();
            }
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html >
