
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-9 bg-secondary ">
    <div class="container mt-2 ps-0 pe-0 ">
        <div class="bg-info">
            <p class="bg-primary text-light ps-3 fs-5">管理權限設定</p>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="tab101" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="false">管理員資料設定</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="tab102" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">員工一覽</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="tab103" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">員工權限設置</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="tab104" data-bs-toggle="tab" data-bs-target="#contact2" type="button" role="tab" aria-controls="contact" aria-selected="false">權限設置</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active pt-2 pb-2 ps-2 pe-2 " id="home" role="tabpanel" aria-labelledby="tab101">
                    <table class="table table-bordered border-primary fs-6 d-none d-md-table ">
                        <thead>
                            <tr>
                                <td>系統編號</td>
                                <td>職稱</td>
                                <td>姓名</td>
                                <td>管理權限</td>
                                <td>狀態</td>
                                <td>帳號</td>
                                <td>密碼</td>

                            </tr>
                        </thead>
                        <tr>
                            <td>001</td>
                            <td>IT經理</td>
                            <td>謝小航</td>
                            <td>總管理員</td>
                            <td>正常</td>
                            <td>Jason@123.com</td>
                            <td>12345678</td>
                        </tr>
                    </table>

                    <table class="table table-bordered border-primary d-md-none" style="font-size: 6px;">
                        <thead>
                            <tr>
                                <td>項目</td>
                                <td>內容</td>
                            </tr>
                        </thead>
                        <tr>
                            <td>系統編號</td>
                            <td>001</td>
                        </tr>
                        <tr>
                            <td>職稱</td>
                            <td>IT經理</td>
                        </tr>
                        <tr>
                            <td>姓名</td>
                            <td>謝小航</td>
                        </tr>
                        <tr>
                            <td>管理權限</td>
                            <td>總管理員</td>
                        </tr>
                        <tr>
                            <td>狀態</td>
                            <td>正常</td>
                        </tr>
                        <tr>
                            <td>帳號</td>
                            <td class="text-break">Jason12345@gmail.com</td>
                        </tr>
                        <tr>
                            <td>密碼</td>
                            <td>12345678</td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade pt-2 pb-2 ps-2 pe-2" id="profile" role="tabpanel" aria-labelledby="tab102">
                    <table class="table table-bordered border-primary ">
                        <thead>
                            <tr>
                                <td>系統編號</td>
                                <td>職稱</td>
                                <td>姓名</td>
                                <td>管理權限</td>
                                <td>狀態</td>
                                <td>帳號</td>
                                <td>密碼</td>

                            </tr>
                        </thead>
                        <tr>
                            <td>001</td>
                            <td>IT經理</td>
                            <td>謝小航</td>
                            <td>總管理員</td>
                            <td>正常</td>
                            <td>Jason@123.com</td>
                            <td>12345678</td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade pt-2 pb-2 ps-2 pe-2" id="contact" role="tabpanel" aria-labelledby="tab103">
                    <table class="table table-bordered border-primary ">
                        <thead>
                            <tr>
                                <td>系統編號</td>
                                <td>職稱</td>
                                <td>姓名</td>
                                <td>管理權限</td>
                                <td>狀態</td>
                                <td>帳號</td>
                                <td>密碼</td>

                            </tr>
                        </thead>
                        <tr>
                            <td>001</td>
                            <td>IT經理</td>
                            <td>謝小航</td>
                            <td>總管理員</td>
                            <td>正常</td>
                            <td>Jason@123.com</td>
                            <td>12345678</td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade pt-2 pb-2 ps-2 pe-2" id="contact2" role="tabpanel" aria-labelledby="tab104">
                    <table class="table table-bordered border-primary ">
                        <thead>
                            <tr>
                                <td>系統編號</td>
                                <td>職稱</td>
                                <td>姓名</td>
                                <td>管理權限</td>
                                <td>狀態</td>
                                <td>帳號</td>
                                <td>密碼</td>

                            </tr>
                        </thead>
                        <tr>
                            <td>001</td>
                            <td>IT經理</td>
                            <td>謝小航</td>
                            <td>總管理員</td>
                            <td>正常</td>
                            <td>Jason@123.com</td>
                            <td>12345678</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

