
@{
    ViewBag.Title = "ShipmentList";
    Layout = "~/Views/Shared/_LayoutSellerMain.cshtml";
}
<div class="col-8 col-md-9 col-lg-9 col-xl-10 container bg-warning rounded-2 border border-info border-1 ">
    <p class="fs-4 mt-3 fw-bold text-center text-primary">訂單一覽</p>
    <hr>
    <table class="table table-striped fw-bold">
        <thead>
            <tr>
                <th scope="col">序號</th>
                <th scope="col">訂單日期</th>
                <th scope="col">出貨單號</th>
                <th scope="col">出貨狀態</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>2023/07/15</td>
                <td><a href="#" class="text-decoration-none">20230707S01007</a></td>
                <td>準備中</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>2023/07/10</td>
                <td><a href="#" class="text-decoration-none">20230707S01003</a></td>
                <td>準備中</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>2023/07/01</td>
                <td><a href="#" class="text-decoration-none">20230707S01001</a></td>
                <td>待收貨</td>
            </tr>
        </tbody>
    </table>
   </div>
