@model prjEShopping.Models.ViewModels.SellerLoginVM
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutUserLogin.cshtml";
}
<div class="bg-light">
    <div class="container pt-2 col-6">
        <!-- Header -->
        <div class="modal-header">
            <h3>會員登入</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <!-- Body -->
        <div class="modal-body">
            <!-- 登入表單 -->
            <form>
                <!-- email -->
                <div class="form-group">
                    @Html.EditorFor(model => model.SellerAccount, new { htmlAttributes = new { @class = "form-control mt-3", placeholder = "請輸入帳號", id = "SellerAccount" } })
                </div>
                <!-- password -->
                <div class="form-group">
                    @Html.EditorFor(model => model.SellerPassword, new { htmlAttributes = new { @class = "form-control mt-3", placeholder = "請輸入密碼", id = "SellerPassword" } })
                </div>
                <!-- checkbox -->
                <div class="form-group">
                    <input type="checkbox" class="remember">記住我的密碼
                </div>
                <!-- 送出按鈕 -->
                <button type="button" class="btn btn-info"> 登入 </button>
                <a href="#" class="link-blue text-decoration-none fw-bold">忘記密碼</a>
            </form>

        </div>
        <!-- Footer -->
        <div class="modal-footer">
            <div class="signup">
                <span>尚未成為會員</span>
                <a href="#" type="button" class="link-blue text-decoration-none fw-bold"> 立即加入 </a>
            </div>
        </div>
    </div>
</div>