
@{
    ViewBag.Title = "SellerPasswordForgot";
    Layout = "~/Views/Shared/_LayoutUserLogin.cshtml";
}

<div class="bg-light">
    <div class="container pt-2 col-6">
        <div class="modal-header">
            <h2>忘記密碼</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <div class="modal-body">
            <form method="post">
                <label>請輸入帳號信箱</label>
                <input type="text" class="form-control" id="SellerAccount" name="SellerAccount" required />
                <input type="submit" id="SendVerificationEmail" value="送出" class="btn btn-primary my-2" />
                <a href="@Url.Action("Login", "SellerLogin")" class="btn btn-danger my-2">取消</a>
            </form>
            @if (ViewBag.Message != null)
            {
                <p class="text-danger">@ViewBag.Message</p>
            }
            </div>
        </div>
    </div>

